@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* 1st Footer */
.footer {
  width: 100%;
  margin-top: 10rem;
}
.footer {
  background-color: #f7f8f9;
}
.footer_phoneapp_text {
  margin-top: 20px;
  padding: 7px;
  border-right: 1px solid black;
  margin-bottom: 20px;
  padding-right: 10px;
}
.footer_phoneapp_text > p {
  font-size: 17px;
  font-weight: 500;
  padding-right: 5px;
}
.footer_apps {
  margin-top: 40px;
  margin-bottom: 20px;
}
.footer_apps > div {
  padding-left: 40px;
}
.footer_apps > div > h5 {
  font-size: medium;
  font-weight: bold;
}
.footer_apps > div > img {
  margin-right: 5px;
  width: 110px;
}
/* 1st Footer */

/* Actual Footer */
.footer-main {
  width: 100%;
  background-color: #ebeeef;
  padding-bottom: 20px;
  border-top: 1px solid black;
}

.sub-category {
  margin-top: 20px;
}
.sub-category > h3 {
  font-size: medium;
  margin-bottom: 10px;
}
.sub-category > ul {
  list-style: none;
  margin-left: -40px;
}
.sub-category > ul > li {
  font-size: small;
  color: #7e8181;
}
.icon {
  margin-left: -10px;
}
.Footer_socialmedia {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;
  margin-bottom: 10px;
}
/* Actual Footer */
/* End Footer */

.footer-end {
  height: auto;
  width: 100%;
  background-color: #002f34;
}

.footer-end {
  height: auto;
  width: 100%;
  background-color: #002f34;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  float: left;
  margin: 12px 50px;
}
.footer__copyright > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.footer__copyright > span:nth-child(1) {
  font-weight: 700;
  padding-right: 8px;
}
.footer__othercountries {
  margin: 12px 90px;
}
.footer__othercountries > small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.footer__othercountries > small:nth-child(1) {
  font-weight: 700;
  padding-right: 8px;
}

@media screen and (max-width: 890px) {
  .footer-end {
    flex-direction: column;
  }
  .footer__othercountries {
    margin: 15px auto;
  }
  .footer__copyright {
    margin: 15px auto;
  }
}

/* End Footer */
